$cell-size: 300px;

.xo-container {
    margin: 20px auto 0; 
}

.xo-row {
    width: $cell-size * 3;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    border-bottom: 5px solid black;
}

.xo-row:last-child { border-bottom: 0; }

.xo-cell {
    width: $cell-size;
    height: $cell-size;
    font-size: $cell-size / 2;
    line-height: $cell-size;
    text-align: center;
    box-sizing: border-box;
    border-right: 5px solid black;
}

.xo-cell:last-child { border-right: 0; }

@media screen and (max-width: 768px) {
    .xo-row { width: ($cell-size * 3) / 2; }
    .xo-cell {
        width: $cell-size / 2;
        height: $cell-size / 2;
        font-size: $cell-size / 6;
        line-height: $cell-size / 2;
    }
}